<div class="container mt-4">
    <div class="d-flex">
        <h2>{{heading}}</h2>
        <button mat-flat-button color="warn" class="ms-auto" [routerLink]="['/']">Close</button>
    </div>
    
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" formControlName="title" />
        <mat-error *ngIf="eventForm.get('title')?.hasError('required') && submit">
            {{ErrorMsg.title.required}}
          </mat-error>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input id="date" type="date" class="form-control" formControlName="date" />
        <mat-error *ngIf="eventForm.get('date')?.hasError('required') && submit">
            {{ErrorMsg.date.required}}
          </mat-error>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input id="location" class="form-control" formControlName="location" />
        <mat-error *ngIf="eventForm.get('location')?.hasError('required') && submit">
            {{ErrorMsg.location.required}}
          </mat-error>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" formControlName="description"></textarea>
        <mat-error *ngIf="eventForm.get('description')?.hasError('required') && submit">
            {{ErrorMsg.description.required}}
          </mat-error>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-3">{{this.eventId ? "Save" : "Add"}}</button>
    </form>
  </div>
  