/* event-detail.component.css */

.container {
    max-width: 600px;
    margin: auto;
  }
  
  .card {
    margin: 20px 0;
    padding: 10px;
  }
  
  .card-body h1 {
    margin-bottom: 20px;
  }
  
  .btn-block {
    margin-top: 20px;
  }
  